In [2]:
#while 사용
i =3

while i >=0 :
  print(i)
  #if i == 1:
  #  break
  i -=1

3
2
1
0

In [4]:
#while 사용2
i = 1
sum = 0

while i<=10:
  sum += i
  i+=1

print(sum)

55

In [9]:
#체육대회 다른 학년의 같은 반은 한 팀이다.
#minsu와 students의 학생이 같은 팀인지 확인하는 코드 작성
#학번 "E60134" E: 초등학생, 6: 학년, 01 :반, 34: 출석번호

students = ["E10123", "E31201", "E40156"]
minsu = "E60134"
team = []
team.append(minsu)

for i in students:
  #print(i, i[2:4])
  if minsu[2:4] == i[2:4]:
    print("같은 팀")
    team.append(i)
  else:
    print("다른 팀")

print(team)

같은 팀
다른 팀
같은 팀
['E60134', 'E10123', 'E40156']

In [12]:
#string s에 입력받은 글자가 몇개 있는지 확인하는 코드

s= "have a nice day!"
data = input("한 글자를 입력하세요 :")
count = 0

for i in range(len(s)):
  if s[i] == data:
    count += 1    #count = count +1

print(count)

한 글자를 입력하세요 :a
3

In [5]:
#for문을 이용하여 2단 구구단을 출력하세요

for i in range(1, 10):
  print("2 x", i , "=", 2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [7]:
#while문을 이용하여 2단 구구단을 출력하세요
i= 1
while i <= 9:
  print("2 x", i , "=", 2*i)
  i+=1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [25]:
#format을 사용하여 구구단
for i in range(2, 3):
  for j in range(1, 10):
    print('{0} X {1} = {2}'.format(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [29]:
#중첩된 while문
i = 2

while i < 10:
  j = 1
  while j <10:
    print (i*j, end ="  ")
    j += 1
  print()
  i += 1

2  4  6  8  10  12  14  16  18
3  6  9  12  15  18  21  24  27
4  8  12  16  20  24  28  32  36
5  10  15  20  25  30  35  40  45
6  12  18  24  30  36  42  48  54
7  14  21  28  35  42  49  56  63
8  16  24  32  40  48  56  64  72
9  18  27  36  45  54  63  72  81

In [34]:
#for if 중첩문
scores = [
    [60, 70, 80],
    [80, 10, 40],
    [40, 70, 90],
    [60, 50, 50]
]
#2차원 배열로 각 학생의 국어, 영어, 수학 점수를 작성하였다.
#국어 점수가 60점 이상인 학생의 수학 평균을 정수로 구하여라

sum_score = 0   #국어 점수가 60점 이상인 학생의 수학 점수의 합
count = 0       #국어 점수가 60점 이상인 학생의 수

for i in scores:
  print("i :", i)
  if i[0] >= 60:
    sum_score += i[2]
    count += 1
  print("국어점수(i[0]) :", i[0], "수학점수(i[2]) :", i[2])
  print()

print(int(sum_score/count))

i : [60, 70, 80]
국어점수(i[0]) : 60 수학점수(i[2]) : 80

i : [80, 10, 40]
국어점수(i[0]) : 80 수학점수(i[2]) : 40

i : [40, 70, 90]
국어점수(i[0]) : 40 수학점수(i[2]) : 90

i : [60, 50, 50]
국어점수(i[0]) : 60 수학점수(i[2]) : 50

56

In [38]:
#for if 중첩문
scores = [
    [60, 70, 80],
    [80, 10, 40],
    [40, 70, 90],
    [60, 50, 50]
]
#2차원 배열로 각 학생의 국어, 영어, 수학 점수를 작성하였다.
#국어 점수가 60점 이상인 학생의 수학 평균을 정수로 구하여라

sum_score = 0   #국어 점수가 60점 이상인 학생의 수학 점수의 합
count = 0       #국어 점수가 60점 이상인 학생의 수

for 학생당성적표 in scores:
  국어성적 = 학생당성적표[0]
  수학성적 = 학생당성적표[2]

  if 국어성적 >= 60:
    sum_score += 수학성적
    count += 1
    print(sum_score, count)

print(int(sum_score/count))

80 1
120 2
170 3
56

In [41]:
#거스름돈
#1260원을 동전으로 거슬러 줄때, 화폐를 최소로 줄수 있게 계산하는 코드
#거슬러 줘야 하는 동전의 총 개수를 출력한다

money = 1260
coin = [500, 100, 50, 10]
count = 0

for i in coin:
  count += money // i
  money %= i

print(count)

6

In [44]:
money = 1260
coin = [500, 100, 50, 10]
count = 0

for i in coin:
  while money >= i:
    money -= i
    count += 1

print(count)

6

In [ ]:
#거스름돈
#1260원을 동전으로 거슬러 줄때, 화폐를 최소로 줄수 있게 계산하는 코드
#거슬러 줘야 하는 동전의 총 개수를 출력한다

거스름돈 = 1260
동전타입 = [500, 100, 50, 10]
동전개수 = 0

for 동전 in 동전타입:
  동전개수 += 거스름돈 // 동전    #1250원에서 500원이 최대 2개 나옴.
  거스름돈 = 거스름돈 % 동전      #250원

print(동전개수)

In [15]:
#예시코드
for i in range(5):
    scores = list(map(int, input("점수를 입력하세요: ").split()))
    for score in scores:
        if score >= 60:
            print("합격")
        else:
            print("불합격")

점수를 입력하세요: 10
불합격
점수를 입력하세요: 20
불합격
점수를 입력하세요: 40
불합격
점수를 입력하세요: 70
합격
점수를 입력하세요: 80
합격

In [22]:
#예시코드_수정
# 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격
scores = []
scores = (map(int, input("점수를 입력하세요: ").split()))
for score in scores:
    if score >= 60:
        print("합격")
    else:
        print("불합격")

점수를 입력하세요: 40 90 38 80 70
불합격
합격
불합격
합격
합격

In [49]:
num = int(input())

if num % 3 == 0:
  print("3의 배수")
if num % 5 == 0:
  print("5의 배수")

6
3의 배수

In [64]:
#type에서 원하는 단어만 추출하기

#type_test = type(3.14)
#print(type_test) #<class 'float'>

숫자 = 3.14
종류 = type(숫자)
종류 = str(종류)
종류 = 종류[8:-2]
print(f"{숫자}는 {종류}입니다")


숫자 = 3.14
종류 = type(숫자).__name__

print(f"{숫자}는 {종류}입니다")

3.14는 float입니다
3.14는 float입니다