In [114]:
a= 20
b= 30
c = a+b
print(c)

50

In [104]:
eng score = 90     #SyntaxError: invalid syntax
#7font = '굴림'    #SyntaxError: invalid decimal literal
my_age =20
percent% =100
animal#='사슴'

SyntaxError: invalid syntax (783790329.py, line 1)

In [13]:
x = 3.3764
y = 6/2
z = 6//2

print(x, y, z)
print(type(x), type(y), type(z))

3.3764 3.0 3
<class 'float'> <class 'float'> <class 'int'>

In [3]:
x = 20
y = 4
x = y % x
print(x)
y -= x * 2
print(x, y)

4
4 -4

In [7]:
a = '쥐 구멍에 볕 들 날 있다.'
b = len(a)
print(b)

15

In [15]:
eng = 80
#result = '영어 점수 : ' + eng + '점'
print('영어 점수 : ', eng, '점', sep ="")    #한번 출력하는 일회용 변수라면, 굳이 메모리를 쓰지 말자!

영어 점수 : 80점

In [53]:
name = '김수영'
name2 = '김땡땡'
age1 = 20
a = '우리는 %d살 %s, %s입니다.' % (age1, name, name2)
print(a)

height = 153.564547467
#a = '내 키는 %10.3f입니다.' % (height)
print('내 키는 %10.3f입니다.' % (height))

year = 2020
month = 12
day = 5
a = '%d-%02d-%02d' % (year, month, day)
print(a)

우리는 20살 김수영, 김땡땡입니다.
내 키는    153.565입니다.
2020-12-05

In [67]:
name = '황예린'
age = 18
eyesight = 1.2
a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)
print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [77]:
score1 = 80
score2 = 87
sum = score1 + score2
avg = sum/2
print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [94]:
#정처리할때 자주 사용함

year = 2020
month = 3
day = 5
print(year, month, day, sep='/')

2020/3/5

In [100]:
a = '안녕하세요.'
b = '반갑습니다.'
print(a)
print(b)
print('\n\n')
print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [116]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')
c = int(a) + int(b)

d = a+b    #문자열+문자열 =문자열문자열

print(c)
print(d)

첫 번째 숫자를 입력하세요 :  1
두 번째 숫자를 입력하세요 :  2

3
12

In [120]:
inch = float(input('인치(inch)를 입력하세요 : '))
cm = inch * 2.54
print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 :  1

센티미터 : 2.54

In [134]:
# 파일명 : ex2-35.py
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""
a = 10 # 변수 a에 10 저장
b = 20 # 변수 b에 20 저장
c = a + b # 두 수를 더해 변수 c에 저장
# 결과를 출력한다.
print(c)

a = 100 # 변수 a에 100 저장
b = 200 # 변수 b에 200 저장
c = a + b # 두 수를 더해 변수 c에 저장
# 결과를 출력한다.
print(c)

30
300

In [142]:
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이 :', width)
print('삼각형의 높이 :', height)
print('삼각형의 면적 :', area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [146]:
width = 10
height = 3
area = width * height *0.5     #나눗셈보다 곱셈이 더 빠름
print('삼각형의 밑변 길이 :', width)
print('삼각형의 높이 :', height)
print('삼각형의 면적 :', area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [148]:
price = 800
buy = 3
pay = 5000
change = pay - price * buy
print('물건가격 :', price, '원')
print('구개개수 :', buy, '개')
print('지불금액 :', pay, '원')
print('거스름돈 :', change, '원')

물건가격 : 800 원
구개개수 : 3 개
지불금액 : 5000 원
거스름돈 : 2600 원

In [152]:
#거스름돈 구하기 거스름돈 줄이기 알고리즘(그리디 알고리즘 = 탐욕 알고리즘)

price = 800
buy = 3
pay = 5000
change = pay - price * buy

#거스름돈의 갯수를 최소화 하여 주세요

coins = [1000, 500, 100, 50, 10]
count = 0

for coin in coins:
    count += change//coin
    change %= coin
    if change == 0:
        break

print(count)

4

In [172]:
name = "홍길동"
age = 30
height = 171.5
print('성 :', name[0])
print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %0.2fcm" % (name, age, height))
print(f"{name}의 나이 : {age}세, 키 : {height:.2f}cm".format())
print("{}의 나이 : {}세, 키 : {:.2f}cm".format(name, age, height))

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.50cm
홍길동의 나이 : 30세, 키 : 171.50cm
홍길동의 나이 : 30세, 키 : 171.50cm

In [178]:
name = input('학생 이름을 입력하세요 :')
kor = int(input('국어 성적을 입력하세요 :'))
eng = int(input('영어 성적을 입력하세요 :')) 
math= int(input('수학 성적을 입력하세요 :'))
total = kor + eng + math
avg = total *0.333333    #소수점 아래 몇째자리까지 : 디폴트 = 6

print('이름:%s, 국어:%d, 영어:%d,수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 : 황예린
국어 성적을 입력하세요 : 83
영어 성적을 입력하세요 : 85
수학 성적을 입력하세요 : 91

이름:황예린, 국어:83, 영어:85,수학:91, 평균:86.3점

In [186]:
x = int(input('숫자를 입력하세요 : '))
if x> 0:
    print("양수")
elif x ==0 :
    print("0")
else:
    print("음수")

print("조건 제어문의 대표적인 명령은 if문 입니다.")

숫자를 입력하세요 :  1

양수
조건 제어문의 대표적인 명령은 if문 입니다.

In [194]:
num = int(input('숫자를 입력하세요 : '))
if num % 7 == 0:
    print('7의 배수이다.')
else :
    print('7의 배수가 아니다.')

숫자를 입력하세요 :  14

7의 배수이다.

In [208]:
num = int(input())

#3의 배수이며 7의 배수인 값을 출력
if num % 3 == 0 and num % 7 ==0:
    print(num)
else:
    print(num,"은 3과 7의 공배수가 아님", sep="")

print(not num)

 28

28은 3과 7의 공배수가 아님
False

In [212]:
name = input('이름을 입력하세요 : ')
if not name :
    print('이름이 입력되지 않았다.')
else :
    print('이름 : %s' % name)

이름을 입력하세요 :  홍길동

이름 : 홍길동

In [226]:
age = int(input('나이를 입력하세요 : '))

#65세 이상 7세 미만은 무료
if age >= 65 or age < 7 :
    pay = '무료'

#7세 ~ 18세 : 1000원
elif age <=18:
    pay = '1000원'
    
#19세 ~ 64세 : 3000원
else:
    pay = '3000원'

print('입장료 : %s' % pay)

나이를 입력하세요 :  24

입장료 : 3000원

In [232]:
pwd = '12345'
pwd_u = input()

if pwd == pwd_u:
    print("비밀번호 OK!")
else:
    print("비밀번호 Not OK!")


pwd = 12345
pwd_u = int(input())

if pwd == pwd_u:
    print("비밀번호 OK!")
else:
    print("비밀번호 Not OK!")

 12345

비밀번호 OK!

 12345

비밀번호 OK!

In [252]:
month = int(input('월을 입력하세요 : '))

if month >= 3 and month <= 5 :
    print('%d월은 봄입니다.' % month)
    
if month >= 6 and month <= 8 :
    print('%d월은 여름입니다.' % month)
    
if month >= 9 and month <= 11 :
    print('%d월은 가을입니다.' % month)
    
if month == 12 or month == 1 or month == 2 :
    print('%d월은 겨울입니다.' % month)

월을 입력하세요 :  1

1월은 겨울입니다.

In [262]:
sum = 0
for i in range(1, 11) :
    sum += i
    print('i의 값 : %d, 합계 : %d' % (i, sum))

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15
i의 값 : 6, 합계 : 21
i의 값 : 7, 합계 : 28
i의 값 : 8, 합계 : 36
i의 값 : 9, 합계 : 45
i의 값 : 10, 합계 : 55

In [268]:
num = int(input("합계를 구할 최종값을 입력하세요"))
#알고리즘1
sum = 0

for i in range(1, num+1):
    sum += i    #sum = sum + i

print('1~', num, '까지 합계 : %d' % sum)

합계를 구할 최종값을 입력하세요 100000

1~ 100000 까지 합계 : 5000050000

In [275]:
num = int(input("합계를 구할 최종값을 입력하세요"))
#알고리즘2
sum = 0

#시그마공식
sum = num * (num + 1) * 0.5


print('1~', num, '까지 합계 : %d' % sum)

합계를 구할 최종값을 입력하세요 100000

1~ 100000 까지 합계 : 5000050000

In [281]:
n, m = map(int, input("n부터 m까지의 합계를 구하려 합니다. n과 m을 숫자로 입력하세요 : ").split())

sum = (m *(m+1) - n*(n+1))*0.5 
print(n, "부터", m, "까지 합계 : %d" % sum)

n부터 m까지의 합계를 구하려 합니다. n과 m을 숫자로 입력하세요 :  2 10

2 부터 10 까지 합계 : 52